
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0

}
.ul{
list-style: none;
padding-left: 0;
margin: 0;
} 
.link{
text-decoration: none;
color: inherit;
}
span{
color: blue;
font-family: sans-serif;
font-size: 26px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0.03em;
text-align: left;
text-decoration: none;
    

}




.pip__vetall{
font-family: sans-serif;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-align: left;
color: #212121;
height: 16px;
width: 270px;
left: 215px;
top: 924px;
border-radius: nullpx;


}

.pip__goit{
font-family: sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
color: #757575;
height: 72px;
width: 270px;
left: 215px;
top: 950px;
border-radius: nullpx;


}
.pup__ua{
font-family: sans-serif;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-align: left;
color: #212121;
height: 16px;
width: 270px;
left: 515px;
top: 924px;
border-radius: nullpx;



}
.pup__uk{
font-family: sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
color: #757575;
height: 48px;
width: 270px;
left: 515px;
top: 950px;
border-radius: nullpx;



}
.men__better{
font-family: sans-serif;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-align: left;
color: #212121;
height: 16px;
width: 270px;
left: 815px;
top: 924px;
border-radius: nullpx;


}
.men__im{
font-family: sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
color: #757575;
height: 48px;
width: 270px;
left: 815px;
top: 950px;
border-radius: nullpx;


}
.pyp__st{
font-family: sans-serif;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-align: left;
color: #212121;
height: 16px;
width: 270px;
left: 1115px;
top: 924px;
border-radius: nullpx;


}
.pyp__bt{
font-family: sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
color: #757575;
height: 72px;
width: 270px;
left: 1115px;
top: 950px;
border-radius: nullpx;


}
.momo__ky{
font-family: sans-serif;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;

}
.mimo__vn{
height: 294px;
width: 370px;
left: 0;
top: 0;
border-radius: 0px;
margin-right: 30px;
position: relative;
text-decoration-line: none;
overflow: hidden;
}
.kontrebyt{
    position: absolute;
    width: 370px;
    height: 70px;
    left:0;
    top: 224px;
    background: rgba(47, 48, 58, 0.8);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(+100%);
    display: block;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-right: 87px;
    padding-left: 87px;
}
.mimo__vn:hover .kontrebyt{
    transform: translateY(0);
}
.mimo__vn:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.kontrebyt1{
    position: absolute;
    width: 370px;
    height: 70px;
    left:0;
    top: 224px;
    background: rgba(47, 48, 58, 0.8);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(+100%);
    display: block;
    padding-left: 103px;   
    padding-bottom: 27px;
    padding-right: 103px;
    padding-top: 27px;
}
.kontrebyt__lilop{
width: 196px;
height: 16px;
left: 728px;
top: 1459px;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;

}

.mimo__od{
height: 294px;
width: 370px;
left: 0;
top: 0;
border-radius: 0px;
margin-right: 30px;
position: relative;
text-decoration-line: none;
overflow: hidden;
}
.mimo__od:hover .kontrebyt1{
    transform: translateY(0);
}
.mimo__od:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.kontrebyt1__lillop{
    width: 164px;
height: 16px;
left: 728px;
top: 1459px;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;

}
.mimo__dn:hover .kontrebyt2{
    transform: translateY(0);
}

.mimo__dn{
height: 294px;
width: 370px;
left: 0;
top: 0;
border-radius: 0px;
position: relative;
text-decoration-line: none;
overflow: hidden;

}
.mimo__dn:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.kontrebyt2{
    position: absolute;
    width: 370px;
    height: 70px;
    left:0;
    top: 224px;
    background: rgba(47, 48, 58, 0.8);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(+100%);
    display: block;  
    padding-left: 85px;
    padding-top: 27px; 
    padding-bottom: 27px;
    padding-right: 85px;  
}
.kontrebyt2__lilllop{
    width: 200px;
height: 16px;
left: 1110px;
top: 1459px;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
}
.aaab__ma{
font-family: sans-serif;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;height: 42px;
left: 668px;
top: 1540px;


}
.motrya__yx{
height: 260px;
width: 270px;
left: 215px;
top: 1632px;
border-radius: 0px;

}
.motrya__an{
font-family: sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
text-decoration: none;
margin-top: 30px;
}
.motrya__vk{
font-family: sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
text-decoration: none;
color: #757575;

}
.suslan__jk{
height: 260px;
width: 270px;
left: 515px;
top: 1632px;
border-radius: 0px;

}
.suslan__hg{
font-family: sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
margin-top: 30px;

}
.suslan__df{
font-family: sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
color: #757575;

}
.dog__we{
height: 260px;
width: 270px;
left: 815px;
top: 1632px;
border-radius: 0px;

}
.dog__you{
font-family: sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
margin-top: 30px;

}
.dog__lo{
font-family: sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
color: #757575;

}
.sus__as{
height: 260px;
width: 270px;
left: 1115px;
top: 1632px;
border-radius: 0px;

}
.sus__cl{
font-family: sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
margin-top: 30px;

}
.sus__m{
font-family: sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0.03em;
text-align: center;
color: #757575;

}
.address{
    font-style:normal ;
    }
.img{
display: block;
max-width: 100%;
height: auto;
}

.container{
margin: 0 auto;
width: 1600px;
box-sizing: content-box;
padding-left: 215px;
padding-right: 215px;
}


.popopo{
display: flex;
justify-content: space-between;
align-items: center ;
font-size: 1;
padding-right: 215px;
padding-left: 175px;

}
.listt{
display: flex;
list-style: none;
    
}
.pip{
margin-right: 30px ;
}
.pup{
margin-right: 30px;
}
.momo{
align-items: center;
margin-top: 118px;
margin-bottom: 50px;
    

}
.mimo{
align-items: center;
display: flex;
   

}
.dude{
padding-left: 215px;
padding-right: 215px ;
background: color #f5f5f5;;
}
.peppa{
background-color: #F5F4FA;
margin-top: 94px;
padding-right: 215px;
padding-left: 175px;
padding-bottom: 94px;
padding-top: 94px;


}
.motrya{
height: 428px;
width: 270px;
left: 215px;
top: 1632px;
border-radius: [object Object]px;
background: #FFFFFF;
align-items: center;
list-style: none;
text-decoration: none;
margin-right: 30px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}
.suslan{  

    border-radius: [object Object]px;
width: 270px;
height: 428px;
left: 215px;
top: 1632px;
background: #FFFFFF;  
align-items: center;
list-style: none;
margin-right: 30px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}
.dog{

border-radius: [object Object]px;
width: 270px;
height: 428px;
left: 815px;
top: 1632px;
align-items: center;
background: #FFFFFF;
list-style: none;
margin-right: 30px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}
.sus{
    
border-radius: [object Object]px;
width: 270px;
height: 428px;
left: 1115px;
top: 1632px;
background: #FFFFFF;
align-items: center;
list-style: none;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}
.oyn{
    align-items:center ;
}
.lana{
 align-items: center; 
 justify-content: space-between; 
 margin: 0 auto;
}
.listop{
display:flex;
align-items: center;
justify-content:center;
flex-grow: 1;

}
.aaab{
    align-items: center;
}

.vtfk{
    display:flex ;
    align-items:center;
    justify-content:center ;
    font-size: 1;
    margin-top: 94px;
    margin-bottom: 30px;
}
.antena1{
    width: 270px;
    height: 120px;
    left: 215px;
    top: 774px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 102.34px;
    padding-left: 102.34px;
    background: #F5F4FA;
    border-radius: 4px;
}
.men{
   margin-right: 30px; 
}
.clock1{
    
width: 270px;
height: 120px;
left: 515px;
top: 774px;
padding-top: 25px;
padding-bottom: 25px;
padding-right: 101.54px;
padding-left: 101.5px;
background: #F5F4FA;
border-radius: 4px;
margin-left: 30px;
margin-right: 30px;
}
.computer1{
width: 270px;
height: 120px;
left: 515px;
top: 774px;
padding-top: 33.2px;
padding-bottom: 33.11px;
padding-right: 100px;
padding-left: 100px;
background: #F5F4FA;
border-radius: 4px;
margin-right: 30px;

}
.cocmos1{
    
width: 270px;
height: 120px;
left: 515px;
top: 774px;
padding-top: 25px;
padding-bottom: 25px;
padding-right: 100px;
padding-left: 100px;
background: #F5F4FA;
border-radius: 4px;
}
.korobka{
    background: #FFFFFF;
    margin: 0 auto;
width: 1600px;
box-sizing: content-box;
height: 372px;
}
.pugolovok__smile2{
    font-family: sans-serif;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;


}
.pugolovok{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 94px;
}
.zagolovok{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 94px;
}
.group71{
    height: 51.99920654296875px;
width: 40.000030517578125px;
left: 33px;
top: 3px;
border-radius: 0px;
width: 170px;
height: 92px;
left: 1015px;
top: 2490px;
box-sizing: border-box;
border: 1px solid #AFB1B8;
border-radius: 4px;
margin-right: 30px;
margin-left: 30px;
padding-left:65px ;
padding-top:19px ;
padding-bottom:21px ;
padding-right:65px ;

}
.group81{

border-radius: 0px;
width: 170px;
height: 92px;
left: 1015px;
top: 2490px;
box-sizing: border-box;
border: 1px solid #AFB1B8;
border-radius: 4px;
padding-left:61.68px ;
padding-top:24.7px ;
padding-bottom:26.12px ;
padding-right:64.86px ;

}
.group44__group4{
    width: 170px;
    height: 92px;
    left: 815px;
    top: 2490px;
    box-sizing: border-box;
    border: 1px solid #2196F3;
    border-radius: 4px;  
    margin-left: 30px;
    margin-right: 30px;
    padding-left:43px ;
padding-top:24.7px ;
padding-bottom:26.68px ;
padding-right:42.56px ;

}
.group55{
    width: 170px;
    height: 92px;
    left: 815px;
    top: 2490px;
    box-sizing: border-box;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    margin-right: 30px;
    padding-left:54px ;
padding-top:22.77px ;
padding-bottom:23.8px ;
padding-right:53.46px ;
}
.group66{
    width: 170px;
height: 92px;
left: 1015px;
top: 2490px;
box-sizing: border-box;
border: 1px solid #AFB1B8;
border-radius: 4px;
padding-left:38px ;
padding-top:22.77px ;
padding-bottom:25.31px ;
padding-right:38.21px ;
}
.union2{
    width: 170px;
    height: 92px;
    left: 1015px;
    top: 2490px;
    box-sizing: border-box;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    padding-left:65px ;
padding-top: 23px;
padding-bottom: 22.3px;
padding-right: 64px;
}
.group71__group7{
    height: 51.99920654296875px;
    width: 40.000030517578125px;
    left: 33px;
    top: 3px;
    border-radius: 0px;
    
}
.group81__group8{
    height: 41.181514739990234px;
    width: 43.46000671386719px;
    left: 29.67999267578125px;
    top: 8.699951171875px;
    border-radius: 0px;
    
}
.facebook{
    height: 20px;
width: 10.000834465026855px;
left: 5.1558837890625px;
top: 0px;
border-radius: 0px;


}
.in{
    height: 20px;
width: 20px;
left: 12px;
top: 12px;
border-radius: 0px;

}

.insta2{
    height: 44px;
width: 44px;
left: 0px;
top: -0.00006103515625px;
border-radius: 50%;
background: #2196F3;
padding-left: 12px;
padding-top: 12px;
padding-bottom: 12px;
padding-right: 12px;

}
.twitter2{
    height: 44px;
    width: 44px;
    left: 0px;
    top: -0.00006103515625px;
    border-radius: 50%;
    padding-left: 12px;
padding-top: 12px;
padding-bottom: 12px;
padding-right: 12px;
margin-left: 10px;
margin-right: 10px;
}
.in2{
    height: 44px;
    width: 44px;
    left: 0px;
    top: -0.00006103515625px;
    border-radius: 50%;
    padding-left: 12px;
padding-top: 12px;
padding-bottom: 12px;
padding-right: 12px;
}
.facebook2{
    height: 44px;
    width: 44px;
    left: 0px;
    top: -0.00006103515625px;
    border-radius: 50%;
    padding-left: 12px;
padding-top: 12px;
padding-bottom: 12px;
padding-right: 12px;
margin-left: 10px;
margin-right: 10px;
}
.insta3{
    height: 44px;
    width: 44px;
    left: 0px;
    top: -0.00006103515625px;
    border-radius: 50%;
    padding-left: 12px;
padding-top: 12px;
padding-bottom: 12px;
padding-right: 12px;
}
.twitter3{
    height: 44px;
width: 44px;
left: 0px;
top: -0.00006103515625px;
border-radius: 50%;
background: #2196F3;
padding-left: 12px;
padding-top: 12px;
padding-bottom: 12px;
padding-right: 12px;
margin-left: 10px;
margin-right: 10px;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    background: rgba(0, 0, 0, 0.2);  
    
}
.motrya__yx__tao{
    width: 270px;
        height: 260px;
        left: 215px;
        top: 1782px;
}
.suslan__jk{
    width: 270px;
        height: 260px;
        left: 515px;
        top: 1782px;
}
.dog__we__tao{
    width: 270px;
        height: 260px;
        left: 815px;
        top: 1782px;
}
.sus__as__tao{
    width: 270px;
        height: 260px;
        left: 1115px;
        top: 1782px;
}







