.nazva{
    height: 16px;
width: 116px;
left: 516px;
top: 2748px;
border-radius: nullpx;

}
.span{
    font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0.03em;
text-align: left;
color: #2196F3;
text-decoration: none;
}
.nazva__qqq1{
    font-family: sans-serif;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-align: left;
color: #FFFFFF;
}
.pochatok{
    height: 80px;
width: 206px;
left: 516px;
top: 2748px;
border-radius: 0px;
margin-left: 70px;
margin-bottom: 97px;
margin-right: 93px;
}
.twitter3{
    height: 44px;
width: 44px;
left: 0px;
top: -0.00006103515625px;
border-radius: 50%;
background: #2196F3;
padding-left: 12px;
padding-top: 12px;
padding-bottom: 12px;
padding-right: 12px;
margin-left: 10px;
margin-right: 10px;
}
.in2{
    height: 44px;
    width: 44px;
    left: 0px;
    top: -0.00006103515625px;
    border-radius: 50%;
    padding-left: 12px;
padding-top: 12px;
padding-bottom: 12px;
padding-right: 12px;
}
.facebook2{
    height: 44px;
    width: 44px;
    left: 0px;
    top: -0.00006103515625px;
    border-radius: 50%;
    padding-left: 12px;
padding-top: 12px;
padding-bottom: 12px;
padding-right: 12px;
margin-left: 10px;
margin-right: 10px;
}
.insta3{
    height: 44px;
width: 44px;
left: 0px;
top: -0.00006103515625px;
border-radius: 50%;
padding-left: 12px;
padding-top: 12px;
padding-bottom: 12px;
padding-right: 12px;

}
.link58__facebook{
    height: 20px;
width: 10.000834465026855px;
left: 5.1558837890625px;
top: 0px;
border-radius: 0px;


}
.link59__in{
    height: 20px;
width: 20px;
left: 12px;
top: 12px;
border-radius: 0px;

}
.adress{
   display: flex; 
   align-items: center;
   justify-content: center;
   margin-top: 16px;
   margin-bottom: 30px;
}
.mivinaa{
    display: flex;
    padding-top: 60px;
        padding-bottom: 60px;
}
.apocalips{
    width: 570px;
height: 86px;
left: 815px;
top: 2748px;

}
.subsribe-na__rosulka{
height: 16px;
left: 815px;
top: 2748px;

font-family: 'Roboto'sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;

}
.apocalips__net{
    width: 358px;
height: 50px;
left: 815px;
top: 2784px;

border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background: #2F303A;
padding-bottom: 15px;
padding-left: 16px;
padding-top: 15px;
}
.subsribse{
    width: 200px;
    height: 50px;
    left: 1185px;
    top: 2784px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.subsribse__subsri{
    width: 110px;
height: 30px;
left: 1213px;
top: 2794px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
align-items: center;
text-align: center;
letter-spacing: 0.06em;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 28px;
color: #FFFFFF;

}
.telegraf{
    left: 83.31%;
    right: 15.19%;
    top: 95.53%;
    bottom: 3.65%;
    margin-left: 10px;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    align-items: center;
}
.adreca__wer{
    font-family:'Roboto-sans-serif';
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
color: #F5F4FA;
text-decoration: none;
}
.gmaaiil__rty{
    font-family:'Roboto-sans-serif';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #F5F4FA;
    text-decoration: none;
}
.nomeru__uio{
    font-family:'Roboto-sans-serif';
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
color: #F5F4FA;
text-decoration: none;
}
.golovna__sdf{
    

font-family: 'Raleway-sans-serif';
font-size: 26px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0.03em;
text-align: left;
color: #FFFFFF;
text-decoration: none;
}
.page-footerr {
    background-color: #2F303A;
height: 252px;
    width: 1600px;
    left: 0px;
    top: 2094px;
    border-radius: 0px;
    margin: 0 auto;

}
.purple1{
    list-style-type: none;
        text-decoration-line: none;
        margin-left: 175px;
}