.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    }
    .modal{
        position: absolute;
        transform: translate(-50%, -50%);
        min-height: 581px;
        min-width: 528px;
        left: 50%;
        top: 50%;
        border-radius: 4px;
        background-color: #FFFFFF; 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);  
    display: block; 
    }
    .forma{
        display:grid;
        }
        
        .forma__tutor{
            width: 448px;
        height: 23px;
        left: 576px;
        top: 261px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.03em;
        
        color: #212121;
        margin-top: 2px;
        margin-left: 40px;
        margin-right: 40px;
        }
        .ukrt__fr{
            width: 22px;
            height: 14px;
            left: 576px;
            top: 296px;
            
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            /* identical to box height */
            
            letter-spacing: 0.01em;
            
            color: #757575;
            margin-left: 40px;
            margin-top: 12px;
            margin-bottom: 4px;
        }
        .ukrt__pol{
            width: 58px;
            height: 14px;
            left: 576px;
            top: 364px;
            
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            /* identical to box height */
            
            letter-spacing: 0.01em;
            
            color: #757575;
           margin-left: 40px; 
           margin-top: 10px;
           margin-bottom: 4px;
        }
        .forma__hp12{
            width: 448px;
            height: 40px;
            left: 0;
            top: 0;
            padding-left: 42px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            position: relative;
            margin-left: 40px;
            outline: none;
        }
        
        .forma__hp12:focus+ .forma__person{
        
        fill: #2196F3;
        outline: none;
        }
        .forma__len:focus + .forma__telefon{
            fill: #2196F3;
            outline: none; 
        }
        .forma__macb:focus+ .forma__poshta{
            fill: #2196F3;
        outline: none;
        }
        .forma__macb{
            width: 448px;
            height: 40px;
            left: 0;
            top: 0;
        padding-left: 42px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            position: relative;
            margin-left: 40px;
            outline: none;
        }
        .forma__macb:focus{
            border: 1px solid #2196F3; 
        }
        .forma__len{
            width: 448px;
            height: 40px;
            left: 0;
            top: 0;
            padding-left: 42px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            position: relative;
            margin-left: 40px;
            outline: none;
        }
        .forma__len:focus{
            border: 1px solid #2196F3; 
        }
        .forma__blb{
            width: 448px;
            height: 120px;
            left: 576px;
            top: 518px;
            outline: none;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            padding-left: 16px;
            padding-top: 12px;
            margin-left: 40px;
        }
        .forma__blb:focus{
            border: 1px solid #2196F3; 
        }
        .forma__person{
            width: 12px;
        height: 12px;
        transform: translateY(-26px);
        position: absolute;
        outline: none;
        left: 28px;
        top: 84px;
        display: inline-block;
        }
        .forma__hp12:focus{
            border: 1px solid #2196F3;  
        
        }
        .forma__telefon{
            width: 13px;
        height: 13px;
        left: 28px;
        transform: translateY(-27px);
        position: absolute;
        top: 114px;
        outline: none;
        }
        .forma__poshta{
            width: 15px;
        height: 12px;
        left: 29px;
        transform: translateY(-26px);
        position: absolute;
        top: 142px;
        outline: none;
        }
        .pineee__chi{
            width: 41px;
            height: 14px;
            left: 576px;
            top: 432px;
            
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            /* identical to box height */
            
            letter-spacing: 0.01em;
            
            color: #757575;
            margin-left: 40px; 
            margin-top: 10px;
            margin-bottom: 4px;
         } 
        
        .ukrt__ita{
            width: 41px;
            height: 14px;
            left: 576px;
            top: 432px;
            
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            /* identical to box height */
            
            letter-spacing: 0.01em;
            
            color: #757575;
            margin-left: 40px; 
           margin-top: 10px;
           margin-bottom: 4px;
        }
        .ukrtel{
            margin-top: 20px;
            margin-left: 52px;
            margin-bottom: 30px;
        }
        .value1{
            width: 400.62px;
            height: 24px;
            left: 612.38px;
            top: 658px;
            
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            /* identical to box height, or 171% */
            
            letter-spacing: 0.03em;
            
            color: #757575;
            
        }
        .ukrtel__ukrtele{
            width: 400.62px;
            height: 24px;
            left: 612.38px;
            top: 658px;
            
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            /* identical to box height, or 171% */
            
            letter-spacing: 0.03em;
            margin-left: 5px;
            color: #2196F3;
            
        }
        .forma__telefon:focus{
            fill: #2196F3;
            outline: none;
        }
        .zakruvachka{
            width: 30px;
        height: 30px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        margin-top: 8px;
        margin-left: 490px;
        
        }
        .ukrtelekom{
            width: 200px;
        height: 50px;
        left: 700px;
        top: 712px;
        
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        margin-left: 164px;
        margin-right: 164px;
        }
        .ukrtelekom__ckj{
            width: 96px;
        height: 30px;
        left: 752px;
        top: 722px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 188% */
        
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        
        color: #FFFFFF;
        margin-left: 46px;
        
        }