.bailando{
    width: 1600px;
    background: #FFFFFF;
    margin: 0 auto;
    align-items: center;
bottom: 0;
    top:0 ;
    padding-left: 215px;
    padding-right: 215px;
    padding-top: 94px;
    padding-bottom: 94px;
}
.got{
    display: flex;
   justify-content: center;
 list-style:  none;  
}
.bobo{
    list-style: none;
    align-items: center;
    justify-content: center;
}
.beach1{
display: flex;
align-items: center;
margin-top: 30px;
}
.beach2{
display: flex;
align-items: center;
margin-top: 30px;
margin-bottom: 30px;
}
.bobo23{
display: flex;
align-items: center;

}
.rabiosa{
    margin-left: 30px;
    margin-right: 30px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    text-decoration-line: none;
}
.try{
    margin-left: 30px;
    margin-right: 30px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    text-decoration-line: none;
}
.find{
    margin-left: 30px;
    margin-right: 30px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    text-decoration-line: none;
}
.mind{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    text-decoration-line: none;
}
.eyes{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    text-decoration-line: none;
}
.was{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    text-decoration-line: none;
}
.matter{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    text-decoration-line:none ;
}
.weekend{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    text-decoration-line: none;
}
.juicy{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
    text-decoration-line: none;

}
.sunshine{
margin-left: 24px;

}
.come24{
    margin-left: 24px;
}
.cloud{
    margin-left: 24px;
}
.famn{
    margin-left: 24px;
}
.along{
    margin-left: 24px;
}
.fufel{
    margin-left: 24px;
}
.phoner{
    margin-left: 24px;
}
.julia{
    margin-left: 24px;
}
.aria{
    margin-left: 24px;
    text-decoration: none;
}
.telef{
    margin-right: 10px;
    margin-left: 30px;
}
.natusk1__button{
    color:#FFFFFF;
    ;
    font-family: 'Roboto-sans-serif'
    ;
    background-color: #2196F3;
    width: 73px;
height: 38px;
left: 512px;
top: 174px;


/* shadow-middle */

box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}
.natusk2__button2{
    color: #212121;
    
    font-family: 'Roboto-sans-serif';
    background-color: #F5F4FA;
    margin-left: 8px;
    margin-right: 8px;
    width: 125px;
height: 38px;
left: 593px;
top: 174px;

background: #F5F4FA;
border-radius: 4px;
    
}
.natusk3__button3{
    color: #212121;
    font-family: 'Roboto-sans-serif';
    background-color: #F5F4FA;
    width: 112px;
height: 38px;
left: 726px;
top: 174px;

background: #F5F4FA;
border-radius: 4px;

}
.natusk4__button4{
    color: #212121;
    font-family: 'Roboto-sans-serif';
    background-color: #F5F4FA;
    margin-left: 8px;
    margin-right: 8px;
    width: 103px;
height: 38px;
left: 846px;
top: 174px;

background: #F5F4FA;
border-radius: 4px;
}
.natusk5__button5{
    color: #212121;
    font-family:'Roboto-sans-serif';
    background-color: #F5F4FA;
    width: 130px;
height: 38px;
left: 957px;
top: 174px;

background: #F5F4FA;
border-radius: 4px;
}
.cccss__img7{
    height: 294px;
width: 370px;
left: 215px;
top: 262px;
border-radius: 0px;

}
.aria__cs{
    font-family: 'Roboto-sans-serif';
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
color: #212121;
text-decoration-line: none;

}
.aria__beb{
    font-family:'Roboto-sans-serif';
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
color: #757575;
text-decoration-line: none;
}
.cccss__img8{
    height: 294px;
width: 370px;
left: 615px;
top: 262px;
border-radius: 0px;

}
.julia__gjc{
    font-family:'Roboto-sans-serif';
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
color:  #212121;
;
}
.julia__l{
    font-family: 'Roboto-sans-serif';
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
color: #757575;
}
.cccss__img9{
    height: 294px;
width: 370px;
left: 1015px;
top: 262px;
border-radius: 0px;

}
.phone__ht{
    font-family: sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
color: #212121;
}
.phone__lj{
    font-family:'Roboto-sans-serif';
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
color: #757575;
}
.cccss__img12{
    height: 294px;
width: 370px;
left: 215px;
top: 696px;
border-radius: 0px;

}
.fufel__ghj{
    font-family:'Roboto-sans-serif';
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
color: #212121;
}
.fufel__vf{
    font-family: 'Roboto-sans-serif';
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
color: #757575;
}
.cccss__imhg15{
    height: 294px;
width: 370px;
left: 615px;
top: 696px;
border-radius: 0px;

}
.along__bnm{
    font-family:'Roboto-sans-serif';
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
color: #212121
}
.along__df{
    font-family:'Roboto-sans-serif';
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
color: #757575;
}
.cccss__img13{
    height: 294px;
width: 370px;
left: 1015px;
top: 696px;
border-radius: 0px;

}
.come24__asd{
    font-family:'Roboto-sans-serif';
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
color: #212121

}
.come24__qwe{
    font-family:'Roboto-sans-serif';
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
color: #757575;
}
.cccss__img16{
    height: 294px;
width: 370px;
left: 215px;
top: 1130px;
border-radius: 0px;

}
.sunshine__dfg{
    font-family:'Roboto-sans-serif';
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
color: #212121

}
.sunshine__tyu{
    font-family:'Roboto-sans-serif';
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
color: #757575;
}
.cccss__img17{
    height: 294px;
width: 370px;
left: 215px;
top: 1130px;
border-radius: 0px;
}
.famn__lkj{
    font-family:'Roboto-sans-serif';
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #212121
}
.famn__io{
    font-family:'Roboto-sans-serif';
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
 color: #757575;
}
.cccss__img20{
    height: 294px;
    width: 370px;
    left: 1015px;
    top: 1130px;
    border-radius: 0px;
     
}
.cloud__rtyt{
    font-family:'Roboto-sans-serif';
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #212121;

}
.cloud__plk{
    font-family:'Roboto-sans-serif';
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
color: #757575;
}
.cccss{
    position: relative;
    overflow: hidden;

}
.ngshka{
    position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
background:  #2196F3E5;
padding-left: 24px;
padding-right: 24px;
padding-top: 63px;
padding-bottom: 63px;
transform: translateY(+100%) ;
margin-top: 5px;
display: block;

}
.juicy:hover .ngshka{
transform: translateY(0%);
}
.rabiosa:hover .ngshka{
transform: translateY(0%);    
}
.weekend:hover .ngshka{
transform: translateY(0%); 
}
.was:hover .ngshka{
transform: translateY(0%);
}
.try:hover .ngshka{
transform: translateY(0%);   
}
.matter:hover .ngshka{
 transform: translateY(0%);   
}
.mind:hover .ngshka{
transform: translateY(0%);   
}
.find:hover .ngshka{
 transform: translateY(0%);
}
.eyes:hover .ngshka{
    transform: translateY(0%);   
}
.ngshka__text-animation{
width: 322px;
height: 168px;
left: 239px;
top: 323px;
font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 156% */

letter-spacing: 0.03em;

color: #FFFFFF;
} 
.juicy:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.rabiosa:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);   
}
.weekend:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);   
} 
.was:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);   
}  
.try:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16); 
}    
.matter:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);   
}
.mind:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.find:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16); 
}
.eyes:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}