.button {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    background : #2196F3;
    color: white;
    height: 50px;
    width: 200px;
    left: 700px;
    top: 430px;
    border-radius: 4px;
    border-color:  #2196F3;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-left: 248px;
    margin-right:248px;
    
    }