.pugolovok{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 94px;
}
.zagolovok{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 94px;
}
.group71{
    height: 51.99920654296875px;
width: 40.000030517578125px;
left: 33px;
top: 3px;
border-radius: 0px;
width: 170px;
height: 92px;
left: 1015px;
top: 2490px;
box-sizing: border-box;
border: 1px solid #AFB1B8;
border-radius: 4px;
margin-right: 30px;
margin-left: 30px;
padding-left:65px ;
padding-top:19px ;
padding-bottom:21px ;
padding-right:65px ;

}
.group81{

border-radius: 0px;
width: 170px;
height: 92px;
left: 1015px;
top: 2490px;
box-sizing: border-box;
border: 1px solid #AFB1B8;
border-radius: 4px;
padding-left:61.68px ;
padding-top:24.7px ;
padding-bottom:26.12px ;
padding-right:64.86px ;

}
.group44__group4{
    width: 170px;
    height: 92px;
    left: 815px;
    top: 2490px;
    box-sizing: border-box;
    border: 1px solid #2196F3;
    border-radius: 4px;  
    margin-left: 30px;
    margin-right: 30px;
    padding-left:43px ;
padding-top:24.7px ;
padding-bottom:26.68px ;
padding-right:42.56px ;

}
.group55{
    width: 170px;
    height: 92px;
    left: 815px;
    top: 2490px;
    box-sizing: border-box;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    margin-right: 30px;
    padding-left:54px ;
padding-top:22.77px ;
padding-bottom:23.8px ;
padding-right:53.46px ;
}
.group66{
    width: 170px;
height: 92px;
left: 1015px;
top: 2490px;
box-sizing: border-box;
border: 1px solid #AFB1B8;
border-radius: 4px;
padding-left:38px ;
padding-top:22.77px ;
padding-bottom:25.31px ;
padding-right:38.21px ;
}
.union2{
    width: 170px;
    height: 92px;
    left: 1015px;
    top: 2490px;
    box-sizing: border-box;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    padding-left:65px ;
padding-top: 23px;
padding-bottom: 22.3px;
padding-right: 64px;
}
.group71__group7{
    height: 51.99920654296875px;
    width: 40.000030517578125px;
    left: 33px;
    top: 3px;
    border-radius: 0px;
    
}
.group81__group8{
    height: 41.181514739990234px;
    width: 43.46000671386719px;
    left: 29.67999267578125px;
    top: 8.699951171875px;
    border-radius: 0px;
    
}
.korobka{
    background: #FFFFFF;
    margin: 0 auto;
width: 1600px;
box-sizing: content-box;
height: 372px;
}

.pugolovok__smile2{
    font-family: sans-serif;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;


}